@import 'colors';
@import 'constants';
@import 'mixins/border';

.page-header {
  background-color: $default;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title title nav';
  padding: 10px;

  .page-title {
    font-size: xx-large;
    font-weight: bold;
    grid-area: title;
    padding: 28px 0;

    .page-subtitle {
      display: none;
      font-size: 17pt;
      font-style: italic;
      grid-area: subtitle;

      &::before {
        content: ': ';
        font-size: xx-large;
        font-style: normal;
      }
    }
  }

  .header-nav {
    display: grid;
    grid-area: nav;

    .link {
      font-size: 14pt;
      font-weight: bold;

      &:hover {
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 600px) {

  .page-header {
    grid-template-areas:
      'title title title'
      'nav   nav   nav';
    margin: 0 auto;
    padding: 30px;
    width: 95%;

    @include border-bottom-radius($border-radius * 2);

    .page-title .page-subtitle {
      display: initial;
    }

    .header-nav {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 20px;

      .link {
        text-align: center;
        padding: 10px;

        &:hover {
          background-color: white;
          color: $default;

          @include border-radius($border-radius);
        }
      }
    }
  }

}
