@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font: 87.5%/1.4 'Raleway', sans-serif;
  min-height: 100vh;
}

a, button {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}
